@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body{
	font-family: "Crimson Text", serif;
}


.navbar-fixed-top {
	position: fixed;
	right: 0;
 	left: 0;
 	z-index: 999;
}


ul{
	list-style-type: none;
	font-size: 18px;
}



nav ul li{
	display: inline;
	padding: 30px;
	}


.books{
	column-width: 200px;
	padding-left: 70px;
	font-size: 13.5px;
	text-align: center;

}

h1{
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
}


h2{
	font-weight: normal;
	font-size: 28px;
	text-align: center;
}

#info{
	padding: 265px;
	padding-top: 0px;
	background-color: #eeeeee;
}

#logo{
	width: 100px;
}

#gallery{
	max-width: 50%;

}

.one{
	height: 250px;
}

.two{
	height: 250px;
}

.three{
	height: 250px;
}

.four{
	height: 250px;
}

.buttons{
	display: block;
    margin: 0 auto;
}

footer{
	text-align: center;
}